@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-fakhwang {
    font-family: 'Fahkwang', sans-serif;
  }
}
